<%-contentFor('hero')%>


<div id ="des">

<h3><center><b>Approved Projects</b></center></h3>
<br>
<br>
<div id=inds>
<%if (dashboardprojectsArray.length == 0){ %>
<div id="success">

  <h1>There are no projects to show</h1>

  </div>
<%}%> 
<% for(var i = 0;i<dashboardprojectsArray.length;i++){%>

 <div id="indi">
 <div id="imgin">
 <img src="images/<%-dashboardprojectsArray[i].image%>" id="poi">
 </div>
 <div id="in">
<div id="imgio">
<center><a href="/description?id=<%-dashboardprojectsArray[i]._id%>"><b><%-dashboardprojectsArray[i].title%></a></center><br>
<%-dashboardprojectsArray[i].description%>
</div>
<div id="imgip">
<div id="pgbar">
<div id="pgbarfill" style="width:<%= (dashboardprojectsArray[i].fundscollected/dashboardprojectsArray[i].funds)*100 %>%" ><br><br>
</div></div></div>
<div id="imgik">
<div id="l1">Funded<br><%= ((dashboardprojectsArray[i].fundscollected/dashboardprojectsArray[i].funds)*100).toFixed(2) %>%</div>
<div id="l2">Target<br><%-dashboardprojectsArray[i].funds%> </div>
<div id="l3">Deadline<br><%-dashboardprojectsArray[i].deadline%></div>
   

 
 
</div>
</div>
</div>

<%}%> 
</div>
<hr>
<h3><center><b>Pending Projects</b></center></h3><br>
<br>
<div id=inds>
<%if (pendingprojectsArray.length == 0){ %>
<div id="success">

  <h1>There are no projects to show</h1>

  </div>
<%}%> 
<% for(var i = 0;i<pendingprojectsArray.length;i++){%>

 <div id="indi">
 <div id="imgin">
 <img src="images/<%-pendingprojectsArray[i].image%>" id="poi">
 </div>
 <div id="in">
<div id="imgio">
<center><a href="/description?id=<%-pendingprojectsArray[i]._id%>"><b><%-pendingprojectsArray[i].title%></a></center><br>
<%-pendingprojectsArray[i].description%>
</div>
<div id="imgip">
<div id="pgbar">
<div id="pgbarfill" style="width:<%= (pendingprojectsArray[i].fundscollected/pendingprojectsArray[i].funds)*100 %>%" ><br><br>
</div></div></div>
<div id="imgik">
<div id="l1">Funded<br><%= ((pendingprojectsArray[i].fundscollected/pendingprojectsArray[i].funds)*100).toFixed(2) %>%</div>
<div id="l2">Target<br><%-pendingprojectsArray[i].funds%> </div>
<div id="l3">Deadline<br><%-pendingprojectsArray[i].deadline%></div>
   

 
 
</div>
</div>
</div>

<%}%> 
</div>

<hr>
<h3><center><b>Declined Projects</b></center></h3><br>
<br>
<div id=inds>
<%if (removedprojectsArray.length == 0){ %>
<div id="success">

  <h1>There are no projects to show</h1>

  </div>
<%}%> 
<% for(var i = 0;i<removedprojectsArray.length;i++){%>

 <div id="indi">
 <div id="imgin">
 <img src="images/<%-removedprojectsArray[i].image%>" id="poi">
 </div>
 <div id="in">
<div id="imgio">
<center><a href="/description?id=<%-removedprojectsArray[i]._id%>"><b><%-removedprojectsArray[i].title%></a></center><br>

<%-removedprojectsArray[i].description%>
</div>
<div id="imgip">
<div id="pgbar">
<div id="pgbarfill" style="width:<%= (removedprojectsArray[i].fundscollected/removedprojectsArray[i].funds)*100 %>%" ><br><br>
</div></div></div>
<div id="imgik">
<div id="l1">Funded<br><%= ((removedprojectsArray[i].fundscollected/removedprojectsArray[i].funds)*100).toFixed(2) %>%</div>
<div id="l2">Target<br><%-removedprojectsArray[i].funds%> </div>
<div id="l3">Deadline<br><%-removedprojectsArray[i].deadline%></div>
   

 
 
</div>
</div>
</div>

<%}%> 
</div>

<hr>
</div>
<footer>
	
</footer>
</body>
</html>
