<%-contentFor('hero')%>
<div id="des">
<h1><%=projectdescr[0].title%></h1><br>
<div id = "topdesc">
<div id="imgdesc">
<img src="/images/a.jpg" id="descimg" >
</div>
<div id="descri">
<h3><span class="btw">Fund needed:<%=projectdescr[0].funds%> $</span><br><br><br></h3>
<h3><span class="btw">Funds Collected:<%=projectdescr[0].fundscollected%> $</span><br><br><br></h3>
<h3><span class="btw">Deadline:<%=projectdescr[0].deadline%></span><br><br><br></h3>

</div>
</div>
<hr>
<p  style="text-align:justify">
<%=projectdescr[0].about%>
To all our readers in the U.S.:
Time is running out in 2016 to help Wikipedia. When I made Wikipedia a non-profit, people warned me I’d regret it. Over a decade later, it’s the only top ten site run by a non-profit and a community of passionate volunteers. Has it crossed my mind how much money we could have made if it had ads? Sure. But I believe people wouldn’t want to build it and we wouldn't be able to trust it. To protect our independence, we'll never run ads. We're sustained by donations averaging about $15. Now is the time we ask. If everyone reading this right now gave $3, our fundraiser would be done within an hour. That's right, the price of a cup of coffee is all we need. People say we live in a media environment where facts have become subjective. At Wikipedia, we reject that idea. We believe facts matter. Please help us keep Wikipedia online and growing. Thank you — Jimmy Wales, Wikipedia Founder
</p>

</div>

