<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crowd Sourcing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bod">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">YourContributionPlease</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=<%-a%>><a href="/">Home</a></li>
      <li  class=<%-b%>><a href="Register"  >Projects</a></li>
      <li  class=<%-c%>><a href="Register"  >Success Stores</a></li>
      <li class=<%-d%>><a href="FAQ">FAQ</a></li>
      <li class=<%-e%>><a href="login">Login</a></li>
      <li  class=<%-f%>><a href="Register"  >Register</a></li>
      

    </ul>
  </div>
  </div>
</nav>



<%-defineContent('hero')%>
<footer>
	
</footer>
</body>
</html>