<%-contentFor('hero')%>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crowd Sourcing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">YourContributionPlease</span>
    </div>
    <ul class="nav navbar-nav">
                  <li  class=<%-a%>><a href="/userHome"  >Home</a></li>
             <li  class=<%-b%>><a href="/dashboard"  >My Dashboard</a></li>
     <li  class=<%-c%>><a href="/startProject"  >Start Projects</a></li>
      </ul>
      <form class="navbar-form navbar-nav" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Projects">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
       <ul class="nav navbar-nav navbar-right">

       
       <li  class=<%-d%>><a href="Register"  >Success Stores</a></li>
       <li class=<%-f%>><a  href="login">Logout</a></li>
      

    </ul>
  </div>
</nav>



<div id="cat">
<div id="cats">
<ul>
<li><a href="/projects?category=arts">Arts</a></li>
<li><a href="/projects?category=Comics">Comics</a></li>
<li><a href="/projects?category=Crafts">Crafts</a></li>
<li><a href="/projects?category=Dance">Dance</a></li>
<li><a href="/projects?category=Design">Design</a></li>
<li><a href="/projects?category=Fashion">Fashion</a></li>
<li><a href="/projects?category=Film & Video">Film & Video</a></li>
<li><a href="/projects?category=Food">Food</a></li>
<li><a href="/projects?category=Games">Games</a></li>
<li><a href="/projects?category=Journalism">Journalism</a></li>
<li><a href="/projects?category=Music">Music</a></li>
<li><a href="/projects?category=Photography">Photography</a></li>
<li><a href="/projects?category=Publishing">Publishing</a></li>
<li><a href="/projects?category=Technology">Technology</a></li>
<li><a href="/projects?category=Theater">Theater</a></li>
</ul>
</div>
</div>
<div id=inds>
  <%if (projectsArray.length == 0){ %>
    <div id="success">

      <h1>There are no projects to show</h1>

      </div>
  <%}%> 
  <% for(var i = 0;i<projectsArray.length;i++){%>

   <div id="ind">
   <div id="in">
   <img src="<%-projectsArray[i].image%>">
  <a href="/description?id=<%-projectsArray[i]._id%>"><b><%-projectsArray[i].title%></b></a><br>
  <%-projectsArray[i].description%>
  <div id="pgbar">
  <div id="pgbarfill" style="width:<%= (projectsArray[i].fundscollected/projectsArray[i].funds)*100 %>%" ><br>
  </div></div>

  <span>funded:<%= ((projectsArray[i].fundscollected/projectsArray[i].funds)*100).toFixed(2) %>%</span>
  pledged:<%-projectsArray[i].funds%>
  Deadline:<%-projectsArray[i].deadline%>
  </div>
  </div>
  
  <%}%> 
</div>
<footer>
	
</footer>
</body>
</html>
